<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="width:100%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prowler.Mvc.UI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Ajax.ActionLink("DropDownList", "Index", "DropDownList", new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "mainContainer",
                            OnComplete = "renderDropDownMenu();",
                            OnBegin = "attachLoadingMainContainer();"
                        })
                    </li>
                    <li>
                        @Ajax.ActionLink("Grid", "Index", "Grid", new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "mainContainer",
                            OnComplete = "renderGridMenu();",
                            OnBegin = "attachLoadingMainContainer();"
                        })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menuBody">
        <div id="SideMenu" class="menuSite">
            <div style="padding:20px; overflow:auto;">
                <h4>Components</h4>
                <div>
                    <p>
                        @Ajax.ActionLink("DropDownList", "Index", "DropDownList", new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "mainContainer",
                            OnComplete = "renderDropDownMenu();",
                            OnBegin = "attachLoadingMainContainer();"
                        })
                    </p>
                    <p>
                        @Ajax.ActionLink("Grid", "Index", "Grid", new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "mainContainer",
                            OnComplete = "renderGridMenu();",
                            OnBegin = "attachLoadingMainContainer();"
                        })
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content bodyLayout">

        <div id="mainContainer" style="margin-bottom:120px;">
            @RenderBody()
        </div>
        <h1></h1>
    </div>

    <div class="footerMenu">
        <footer>
            <div style="margin:10px">
                <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/daniel-costin-850a461b7" title="LinkedIn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M20 19h-3v-5.6c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.4-2.586 7-2.777 7 2.476zM6.5 6.732a1.757 1.757 0 01-1.75-1.764A1.757 1.757 0 016.5 3.2a1.758 1.758 0 011.75 1.764A1.757 1.757 0 016.5 6.728zM5 19h3V8H5zM19 0H5a5 5 0 00-5 5v14a5 5 0 005 5h14a5 5 0 005-5V5a5 5 0 00-5-5z" fill="#000" fill-rule="evenodd"></path></svg> <span class="TK-Footer-Social-Link-Count TK-fs16"></span></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/DannyCostin/Prowler.Mvc.UI" title="GitHub"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,0A12.047,12.047,0,0,0,0,12,12.455,12.455,0,0,0,9.188,24V20.03a2.889,2.889,0,0,1-3.239-1.441c-.273-.46-.756-.959-1.26-.922l-.124-1.4a2.892,2.892,0,0,1,2.593,1.6,1.555,1.555,0,0,0,.9.772,1.89,1.89,0,0,0,1.181-.1,3.3,3.3,0,0,1,.827-1.691h0C6.942,16.382,5.7,14.724,5.2,13.415a5.506,5.506,0,0,1,.855-5.281A.188.188,0,0,0,6.1,7.989a4.6,4.6,0,0,1,.14-3.073,4.858,4.858,0,0,1,2.663,1l.337.2c.141.084.1.036.238.025A10.182,10.182,0,0,1,12,5.792a10.225,10.225,0,0,1,2.553.363l.109.011c-.01,0,.03-.007.1-.046,2.436-1.476,2.349-.993,3-1.206A4.682,4.682,0,0,1,17.9,7.989c-.071.218,2.112,2.217.9,5.426-.494,1.309-1.74,2.968-4.866,3.434h0a3.086,3.086,0,0,1,.879,2.2V24A12.454,12.454,0,0,0,24,12,12.047,12.047,0,0,0,12,0Z"></path></svg></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.nuget.org/packages/Prowler.Mvc.UI/" title="Nuget">
                    <svg width="30" height="30" viewBox="0 0 32 32" fill="#000" fill-rule="evenodd" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.563 28.844c-7.104 0-7.104-10.651 0-10.651 7.099 0 7.099 10.651 0 10.651zM12.932 16.636c-4.437 0-4.437-6.663 0-6.663 4.443 0 4.443 6.663 0 6.663zM23.797 6.24h-8.891c-4.532 0.005-8.204 3.677-8.209 8.208v8.891c0 4.531 3.677 8.203 8.209 8.203h8.891c2.172 0 4.26-0.864 5.801-2.401 1.537-1.541 2.401-3.624 2.401-5.801v-8.891c0-4.531-3.672-8.208-8.203-8.208zM5.328 3.12c0 3.552-5.328 3.552-5.328 0s5.328-3.552 5.328 0z" />
                    </svg>
                </a>
                <p style="margin:0px">&copy; @DateTime.Now.Year Daniel Costin</p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.paypal.com/donate/?hosted_button_id=79D39PJ2VKELW" title="Donate with PayPal - If this project help you reduce time to develop, you can give me a cup of coffee :)"><img alt="PayPall" style="margin-bottom:5px;" src="~/Content/Images/paypal_logo.png" /></a>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/side-menu.js")
    @*@Scripts.Render("~/bundles/prowler")*@
    @Scripts.Render("~/Scripts/prowler-mvc.js")
    @RenderSection("scripts", required: false)

</body>
</html>
