@using Prowler.Mvc.UI
@using Prowler.Presentation.Models
@model Prowler.Presentation.Models.MockProduct

<h3>Form Request</h3>
<h5>The current demo of the UI for ASP.NET MVC DropDownList demonstrates an implementation of working with requests.</h5>
<br />

<h5><strong>Name(string)</strong> parameter:</h5>
<div style="padding:0px; margin-top:10px; border-radius:5px">
    <table class="tableStyle" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>name</td>
            <td>Sets the name of the parameter to POST, this parameter will hold the value from the bounded property in the DataValueField method.</td>
        </tr>
    </table>
</div>

<div class="infoTipContainer">
    <span class="dot">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16" id="IconChangeColor"> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" id="mainIconPathAttribute" fill="black"></path> </svg>
    </span>
    <h5>The request will have the same object structure from the data source bounded with BindTo method.</h5>
</div>
<br/>
<h4>DEMO EXAMPLE</h4>
<div style="padding-top:10px">
    @using (Html.BeginForm("SendMultiProduct", "DropDownList", FormMethod.Post))
    {
        @(Html.Prowler().DropDownList()
          .Name("singleProduct")
          .ServerFiltering(@"/DropDownList/Search", "value")
          .BindTo(Model.ProductDataSource)
          .DataTextField(nameof(Product.Name))
          .DataValueField(nameof(Product.Id))
          .HtmlAttributes("style", "width:500px")
          .GroupBy(nameof(Product.GroupId), nameof(Product.GroupName))
          .Template(Html.Partial("DropDownItem"), nameof(Product.Name), nameof(Product.Description), nameof(Product.Image))
          .SelectedIndex(0)
          .Height(300)
          .Render()
    )
        <br />

        @(Html.Prowler().DropDownList()
          .Name("multiProducts")
          .ServerFiltering(@"/DropDownList/Search", "value")
          .BindTo(Model.ProductDataSource.Skip(1), "Please select")
          .DataTextField(nameof(Product.Name))
          .DataValueField(nameof(Product.Id))
          .HtmlAttributes("style", "width:500px")
          .GroupBy(nameof(Product.GroupId), nameof(Product.GroupName))
          .Multiselect(nameof(Product.Checked), true)
          .Template(Html.Partial("DropDownItem"), nameof(Product.Name), nameof(Product.Description), nameof(Product.Image))
          .Height(300)
          .Render())

        <br />
    }

    @{
        string serializeCode = @"@using (Html.BeginForm(""SendSingleProduct"", ""DropDownList"", FormMethod.Post))
{
@(Html.Prowler().DropDownList()
.Name(""singleProduct"")
.BindTo(Model.ProductDataSource)
.DataTextField(nameof(Product.Name))
.DataValueField(nameof(Product.Id))
.HtmlAttributes(""style"", ""width:500px"")
.GroupBy(nameof(Product.GroupId), nameof(Product.GroupName))
.ClientFiltering(nameof(Product.Name))
.Template(Html.Partial(""DropDownItem""), nameof(Product.Name), nameof(Product.Description), nameof(Product.Image))
.SelectedIndex(0)
.Height(300)
.Render())
}

@using (Html.BeginForm(""SendMultiProduct"", ""DropDownList"", FormMethod.Post))
{
@(Html.Prowler().DropDownList()
.Name(""multiProducts"")
.BindTo(Model.ProductDataSource, ""Please select"")
.DataTextField(nameof(Product.Name))
.DataValueField(nameof(Product.Id))
.HtmlAttributes(""style"", ""width:500px"")
.GroupBy(nameof(Product.GroupId), nameof(Product.GroupName))
.ClientFiltering(nameof(Product.Name))
.Multiselect(nameof(Product.Checked), true)
.Template(Html.Partial(""DropDownItem""), nameof(Product.Name), nameof(Product.Description), nameof(Product.Image))
.Height(300)
.Render())
}";
        var controllerCode = @"public ActionResult SendSingleProduct(Product singleProduct)
{
    return RedirectToAction(""Index"");
}

public ActionResult SendMultiProduct(List<Product> multiProducts)
{
    return RedirectToAction(""Index"");
}
";

    }
    <br />

    <h4>VIEW EXAMPLE</h4>
    <div style="background-color:whitesmoke;padding:20px; margin-top:10px; border-radius:5px">
        <code style="white-space:pre; display:block; margin:10px">@serializeCode</code>
    </div>
</div>

<br />
<h4>CONTROLLER EXAMPLE</h4>
<div>
    <div style="background-color:whitesmoke;padding:20px; margin-top:10px; border-radius:5px">
        <code style="white-space:pre; display:block; margin:10px">@controllerCode</code>
    </div>
</div>